
*{
  box-sizing: border-box;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html{
  font-size: 62.5%;
}

h1, h2{
  text-align: center;
  border: 3px solid black;
}

li{
  list-style: none;
}

section{
  height: 98REM;
  width: 33.3333%;
  float:left;
}

span{
  font-size: 4REM;
}

.left, .right{
  background-color: lightblue;
}

.center{
  background-color: lightyellow;
}

h1{
  font-size: 4REM;
  background-color: teal;
  margin-top: 0REM;
  margin-bottom: 0REM;
  padding: 1REM;
}

h2{
  font-size: 2.5REM;
  margin-top: 0REM;
  margin-bottom: 0REM;
  padding-top: 1REM;
  padding-bottom: 2REM;
  background-color: lightgreen;
}

input{
  font-size: 2.5REM;
}

.items{
  text-align: center;
}

@media screen and (max-width: 800px) {
  .center{
    width: 100%;
    height: 98REM;
  }
  .left, .right{
    display: none;
  }
}

.items{
    height: 81REM;
    text-align: center;
    border: 3px solid black;
    margin-top: 0REM;
    padding-top: 3REM;
    padding-bottom: 2REM;
}

h3{
  font-size: 2REM;
  text-align: left;
  padding-bottom: 1REM;
  margin-top: 0REM;
}

.ta{
  padding-left: 1REM;
}

.li{
  padding-left: 2REM;
}

.fa{
    padding-left: 2REM;
}
